# ignore everything in the root except the "wp-content" directory.
wordpress_data/
!wordpress_data/wp-content/


# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wordpress_data/wp-content/*
!wordpress_data/wp-content/mu-plugins/
!wordpress_data/wp-content/plugins/
!wordpress_data/wp-content/themes/

# ignore these plugins
wordpress_data/wp-content/plugins/hello.php

# ignore specific themes
wordpress_data/wp-content/themes/twenty*/

# ignore node dependency directories
wordpress_data/node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
